@import "tailwindcss";
@import "@nuxt/ui-pro";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Fredoka One', sans-serif;

  --color-yellowgreen-50: #F7FAEB;
  --color-yellowgreen-100: #EEF6D7;
  --color-yellowgreen-200: #DFEDB0;
  --color-yellowgreen-300: #C9E17F;
  --color-yellowgreen-400: #B2D64E;
  --color-yellowgreen-500: #9ACD32;
  --color-yellowgreen-600: #7BA428;
  --color-yellowgreen-700: #5D7B1E;
  --color-yellowgreen-800: #3F5214;
  --color-yellowgreen-900: #21290A;
  --color-yellowgreen-950: #101405;
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
}
